{% extends 'base.html' %}

{% block content %}
<div>
  <div>
    following : {{person.followings.all|length}}
    follower : {{person.followers.all|length}}
  </div>
  {% if request.user != person %}
    <div>
      <form action="{% url 'freaks:follow' person.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <button type="submit" class="btn btn-outline-success">언팔로우</button>
        {% else %}
        <button type="submit" class="btn btn-outline-success">팔로우</button>
        {% endif %}
      </form>
    </div>
  {% endif %}
</div>
  <h1>{{person.username}}님의 프로필</h1>
  <hr>
  <h3>작성한 게시글</h3>
  {% for article in person.article_set.all %}
    <div>{{article.title}}</div>
    {% endfor %}
    <hr>
    <h3>작성한 댓글</h3>
    {% for comment in person.comment_set.all %}
    <div>{{comment.content}}</div>
    {% endfor %}
    <hr>
    <h3>좋아요한 게시글</h3>
    {% for article in person.like_articles.all %}
    <div>{{article.title}}</div>
    {% endfor %}
    <hr>

    <a href="{% url 'mint:index' %}">뒤로가기</a>
{% endblock content %}