{% extends 'base.html' %}

{% block content %}
{% load bootstrap5 %}
<h1>상세 페이지</h1>


<hr>
<p>좋아요: {{article.like_users.count}}</p>
<p>제목 : {{article.title}}</p>
<p>내용 : {{article.content}}</p>
<p>수정 시간 : {{article.updated_at}}</p>
<hr>

<a href="{% url 'articles:index' %}"><button class="btn btn-outline-success">글 목록</button></a>
{% if article.user == request.user %}
    <form action="{% url 'articles:delete' article.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-danger" type="submit">글 삭제</button>
    </form>
    <a href="{% url 'articles:update' article.pk %}"><button class="btn btn-outline-danger">글 수정하기</button></a>
    <hr>
    <p>comment</p>
    <form action="" method="POST">
        {%csrf_token%}
        {% bootstrap_form form %}
        <input type="submit" value="댓글생성">
    </form>
    {% for comment in article.comment_set.all %}
    <hr>
    <p>{{comment.content}} | {{comment.created_at}} </p>
    {% endfor %}

{% endif %}
<br>


{% endblock content %}