{% extends 'base.html' %}

{% block content %}
<h1>메인페이지 입니다~</h1>
<hr>
<div class="row">
    {% for article in articles %}
    <a href="{% url 'articles:detail' article.pk %}">
        <div id="mainArticles">
            <p>글쓴이 : {{article.user}}</p>
            <p>제목 : {{article.title}}</p>
            <p>내용 : {{article.content}}</p>
            <p>작성일 : {{article.updated_at}}</p>
        </div>
    </a>
    <hr>
    {% endfor %}
    <a href="{% url 'articles:new' %}" class="btn btn-outline-primary">글쓰기</a>
</div>
{% endblock content %}