{% extends 'base.html' %}

{% block content %}
<h1>DETAIL PAGE</h1>


<p>{{ article.pk }}번 째 글</p>
<hr>
<p>제목 : {{article.title}}</p>
<p>내용 : {{article.content}}</p>
<p>작성 시간 : {{article.created_at}}</p>
<p>수정 시간 : {{article.updated_at}}</p>
<hr>

<a href="{% url 'mint:index' %}"><button class="btn btn-outline-success">글목록</button></a>
<hr>
<p>댓글</p>
<form action="{% url 'mint:comment_create' article.pk %}" method="POST">
  {% csrf_token %}
  {{ form.as_p}}
  <button type="submit" class="btn btn-outline-success">댓글쓰기</button>
</form>
{% for comment in article.comment_set.all %}
<hr>
<p>{{comment.content}} | {{comment.created_at}}</p>

{% if article.user == request.user %}
<form action="{% url 'mint:delete' article.pk %}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-success">삭제하기</button>
</form>
{% endif %}
{% endfor %}
<br>


{% endblock content %}