<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mzPjt</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <script src="https://kit.fontawesome.com/5c53a7748a.js" crossorigin="anonymous"></script>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            font-weight: bold;
            color:black;
        }
        #mainArticles{
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
        }
        #mainArticles:hover{
            background-color: rgba(0, 0, 0, 0.061);
        }
    </style>
</head>
<body>
    <div class="container">
        <br>
        {% if request.user.is_authenticated %}
            <h2>Hello, {{user}}</h2>
            <a class="btn btn-outline-primary" href="{% url 'accounts:profile' user.username %}">내 프로필</a>
            <form action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-primary" type="submit">로그아웃</button>
            </form>
        {% else %}
            <a href="{% url 'accounts:signup' %}">회원가입</a>
            <a href="{% url 'accounts:login' %}">로그인</a>
        {% endif %}
        {% block content %} {% endblock content %}
    </div>
</body>
</html>