<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>keymagic</title>
</head>
<body>
  <header>
    {% if request.user.is_authenticated %} {% comment "" %} anonymous user 거르기위한 is_authenticated {% endcomment %}
    <p>{{user.username}}</p>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="로그아웃">
    </form>
    {% else %}
    <a href="{% url 'accounts:login' %}">[로그인]</a>
    <a href="{% url 'accounts:signup' %}">[회원가입]</a>
    {% endif %}
  </header>
  {% block content %}{% endblock content %}
  {% block footer %}{% endblock footer %}
</body>
</html>